* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    overflow-x: hidden;
}
.nav-container {
    box-sizing: border-box;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
}
.nav-container .logo {
    height: 50px;
}
.nav-bar {
    width: calc(100% - 158px);
    display: flex;
    justify-content: right;
}
.nav-bar ul {
    display: flex;
    list-style-type: none;
}
.nav-bar ul li {
    margin: 0 15px;
    text-decoration: underline;
}

.bg-hero {
    width: 1200px;
    height: 700px;
    background: url("./assets/img-mission-background.jpg");
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.bg-hero-text {
    background-color: black;
    height: fit-content;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
/*Tea of the Month*/
.tea-details-container {
    width: 1000px;
    margin: 50px auto;
   
}
.tea-details-text {
    text-align:center;
    line-height: 50px;
}
/*Tea Images*/
.tea-images {
    margin: 0 5px;
    display: inline-block;
}
.tea-images img {
    width: 300px;
    height: 200px;
}
/*locations*/
.Locations-container {
    background-image: url(./assets/img-locations-background.jpg);
    margin: 0 auto;
    width: 80%;
    height: 500px;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.Locations-container h2 {
    padding-top: 70px;
    padding-bottom: 15px;
    text-align: center;
}
.location-container1 {
    width: 100%;
    display: flex;
    margin-left: 30px;
    
}

.location {
    justify-content: space-between;
    height: 300;
    width: 200px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 50px 20px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
}

/*info container */

.contact-info {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

footer {
    text-align: left;
    margin-left: 10px;
}